.Chart {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Chart > .verticalColum {
  height: 100%;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Chart > .verticalColum > a {
  width: 45px;
  display: block;
  color: #bbb;
  font-size: 1.4rem;
}

.Chart > .columnsWrapper {
  height: 100%;
  margin-left: -5px;
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Chart > .columnsWrapper > .barContainer {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.Chart > .columnsWrapper > .barContainer > .barWrapper {
  width: 100%;
  padding-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  position: relative;
  cursor: default;
}

.Chart > .columnsWrapper > .barContainer > .barWrapper > .barLabel,
.Chart > .columnsWrapper > .barContainer > .barWrapper > .columnLabel {
  padding-bottom: 8px;
  font-size: 1.4rem;
  color: #333;
  white-space: nowrap;
  position: absolute;
  top: 0;
  margin-top: -65%;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.Chart > .columnsWrapper > .barContainer > .barWrapper > .bar {
  width: 27px;
  height: 0;
  padding-top: 5px;
  border-radius: 5px;
  background-color: #e8e8e8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Chart > .columnsWrapper > .barContainer > .barWrapper:hover > .barLabel,
.Chart > .columnsWrapper > .barContainer > .barWrapper:focus > .barLabel {
  opacity: 1;
}

.Chart > .columnsWrapper > .barContainer > .columnName {
  width: 100%;
  margin-top: 7px;
  padding-top: 2px;
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  position: relative;
  cursor: default;
}

.Chart > .columnsWrapper > .barContainer > .columnName > .columnLabel {
  font-size: 1.4rem;
  white-space: nowrap;
  color: #333;
  position: absolute;
  top: calc(-100% - 13px);
  left: 50%;
  -webkit-transform: translate(7px, 0) rotate(-90deg);
          transform: translate(7px, 0) rotate(-90deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;
}

.Chart > .columnsWrapper > .barContainer > .columnName:hover > .columnLabel,
.Chart > .columnsWrapper > .barContainer > .columnName:focus > .columnLabel {
  opacity: 1;
}

.Chart > .columnsWrapper > .barContainer.tallest > .columnName > .columnLabel {
  color: #f4f4f4;
}

.Chart > .columnsWrapper > .barContainer.tallest > .barWrapper > .bar {
  background-color: #a25;
}

.darkMode .Chart > .verticalColum > a {
  color: #aaa;
}

.darkMode .Chart > .columnsWrapper > .barContainer > .barWrapper > .barLabel,
.darkMode .Chart > .columnsWrapper > .barContainer > .barWrapper > .columnLabel {
  color: #ccc;
}

.darkMode .Chart > .columnsWrapper > .barContainer > .barWrapper > .bar {
  background-color: #ddd;
}

.darkMode .Chart > .columnsWrapper > .barContainer > .columnName {
  color: #aaa;
}

.darkMode .Chart > .columnsWrapper > .barContainer > .columnName > .columnLabel {
  color: #666;
}

.darkMode .Chart > .columnsWrapper > .barContainer.tallest > .columnName > .columnLabel {
  color: #eee;
}

.darkMode .Chart > .columnsWrapper > .barContainer.tallest > .barWrapper > .bar {
  background-color: #a25;
}
/*# sourceMappingURL=Chart.css.map */