.Chart{
    width: 100%;
    max-width: 360px;
    height: 200px;
    display: flex;
    > .verticalColum{
        height: 100%;
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > a{
            width: 45px;
            display: block;
            color: #aaa;
            font-size: 1.4rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    > .columnsWrapper{
        height: 100%;
        margin-left: -5px;
        margin-right: 5px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        > .barContainer{
            width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            > .barWrapper{
                width: 100%;
                padding-bottom: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: visible;
                position: relative;
                cursor: default;
                > .barLabel,
                > .columnLabel{
                    padding-bottom: 8px;
                    font-size: 1.4rem;
                    color: #333;
                    white-space: nowrap;
                    position: absolute;
                    top: 0;
                    margin-top: -65%;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                }
                > .bar{
                    width: 27px;
                    height: 0;
                    padding-top: 5px;
                    border-radius: 5px;
                    background-color: #e8e8e8;
                    transition: all 0.5s ease;
                }
            }
            > .barWrapper:hover,
            > .barWrapper:focus{
                > .barLabel{
                    opacity: 1;
                }
            }
            > .columnName{
                width: 100%;
                margin-top: 7px;
                padding-top: 2px;
                font-size: 1.4rem;
                color: #aaa;
                text-align: center;
                position: relative;
                cursor: default;
                > .columnLabel{
                    font-size: 1.4rem;
                    white-space: nowrap;
                    color: #333;
                    position: absolute;
                    top: calc(-100% - 13px);
                    left: 50%;
                    transform: translate(7px, 0) rotate(-90deg);
                    transform-origin: left bottom;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                    pointer-events: none;
                }
            }
            > .columnName:hover,
            > .columnName:focus{
                > .columnLabel{
                    opacity: 1;
                }
            }
        }
        > .barContainer.tallest{
            > .columnName{
                > .columnLabel{
                    color: #f4f4f4;
                }
            }
            > .barWrapper{
                > .bar{
                    background-color: #a25;
                }
            }
        }
    }
}

//dark mode:
.darkMode{
    .Chart{
        > .verticalColum{
            > a{
                color: #aaa;
            }
        }
        > .columnsWrapper{
            > .barContainer{
                > .barWrapper{
                    > .barLabel,
                    > .columnLabel{
                        color: #ccc;
                    }
                    > .bar{
                        background-color: #ddd;
                    }
                }
                > .columnName{
                    color: #aaa;
                    > .columnLabel{
                        color: #666;
                    }
                }
            }
            > .barContainer.tallest{
                > .columnName{
                    > .columnLabel{
                        color: #eee;
                    }
                }
                > .barWrapper{
                    > .bar{
                        background-color: #a25;
                    }
                }
    
            }
        }
    }
}