.Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    > .inputsContainer{
        > .RangeInput:first-child{
            margin-top: 0;
        }
        > .selectorsWrapper{
            display: flex;
            width: 100%;
        }
    }
    > .calcButtonWrapper{
        width: 60px;
        height: 60px;
        box-shadow: 2px 3px 10px #ccc;
        border-radius: 50%;
        position: fixed;
        left: calc(50% - 30px);
        bottom: 3%;
        z-index: 1;
        display: none;
        transition: box-shadow 200ms ease-in-out;
        > .calcButton{
            width: 60px;
            height: 60px;
            background: #027 url(/src/assets/logo_fff.svg) no-repeat center / 24px auto;
            border-radius: 50%;
            transition: all 200ms ease-in-out;
        }
    }
}

//dark mode:
.darkMode{
    .Form{
        > .calcButtonWrapper{
            box-shadow: 3px 4px 20px #030303;
            > .calcButton{
                background-color: #27d;
            }
        }
    }
}