.Form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    > .column{
        flex: 1;
        .selectorsWrapper{
            display: flex;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 4920px){
    .Form{
        padding-bottom: 50px;
        flex-direction: column;
        gap: 0;
    }
}