/*
    Background:
*/
.lightTransparentBackground {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.lightTransparentBackground:enabled:active {
  background-color: rgba(0, 0, 0, 0.035) !important;
}

@media (hover: hover) and (pointer: fine) {
  .lightTransparentBackground:enabled:hover {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .lightTransparentBackground:enabled:focus {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
  .lightTransparentBackground:enabled:active {
    background-color: rgba(0, 0, 0, 0.055) !important;
  }
}

.lightTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkTransparentBackground {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.darkTransparentBackground:enabled:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

@media (hover: hover) and (pointer: fine) {
  .darkTransparentBackground:enabled:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }
  .darkTransparentBackground:enabled:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  .darkTransparentBackground:enabled:active {
    background-color: rgba(255, 255, 255, 0.25) !important;
  }
}

.darkTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

/*
    custom scrollbar
*/
.thinScrollbar_light::-webkit-scrollbar, .thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.thinScrollbar_light::-webkit-scrollbar-track, .thinScrollbar_dark::-webkit-scrollbar-track, .darkMode.notTouchScreen::-webkit-scrollbar-track, .darkMode.notTouchScreen ::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.thinScrollbar_light::-webkit-scrollbar-thumb, .thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb {
  background: #888;
}

.ultraThinScrollbar_light::-webkit-scrollbar, .ultraThinScrollbar_dark::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ultraThinScrollbar_light::-webkit-scrollbar-track, .ultraThinScrollbar_dark::-webkit-scrollbar-track {
  background: transparent;
}

.ultraThinScrollbar_light::-webkit-scrollbar-thumb, .ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}

.Info {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 10px 35px #DDD;
          box-shadow: 3px 10px 35px #DDD;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.Info > .container {
  width: 100%;
  max-width: 470px;
  height: 100%;
  max-height: 630px;
  padding: 45px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Info > .container > .titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.Info > .container > .titleWrapper > .smallText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.Info > .container > .titleWrapper > .smallText > .your,
.Info > .container > .titleWrapper > .smallText > .ownership {
  font-size: 1.6rem;
  font-weight: normal;
  color: #aaa;
}

.Info > .container > .titleWrapper > .smallText > .ownership {
  display: none;
}

.Info > .container > .titleWrapper > .bigText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.Info > .container > .titleWrapper > .bigText > .costs,
.Info > .container > .titleWrapper > .bigText > .willBe {
  font-size: 1.6rem;
  font-weight: normal;
  color: #aaa;
}

.Info > .container > .titleWrapper > .bigText > .benefits {
  color: #292;
  font-weight: bold;
  margin-right: 1px;
}

.Info > .container > .perDistanceWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.Info > .container > .perDistanceWrapper > .unit {
  font-size: 3rem;
  font-weight: bold;
  color: #04b;
  margin-top: 15px;
}

.Info > .container > .perDistanceWrapper > .amount {
  font-size: 12rem;
  line-height: 100%;
  letter-spacing: 0.1rem;
  color: #04b;
}

.Info > .container > .perDistanceWrapper > .period {
  font-size: 1.6rem;
  white-space: nowrap;
  color: #aaa;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 15px;
}

.Info > .container > .perTimeWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  min-width: 305px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding-bottom: 19px;
}

.Info > .container > .perTimeWrapper > .timeCostWrapper > .period {
  font-size: 1.45rem;
  color: #aaa;
  display: block;
}

.Info > .container > .perTimeWrapper > .timeCostWrapper > .amountWrapper {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Info > .container > .perTimeWrapper > .timeCostWrapper > .amountWrapper > a {
  font-weight: bold;
  color: #555;
  display: block;
}

.Info > .container > .perTimeWrapper > .timeCostWrapper > .amountWrapper > .currency {
  font-size: 2.2rem;
}

.Info > .container > .perTimeWrapper > .timeCostWrapper > .amountWrapper > .amount {
  margin-left: 1px;
  font-size: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.darkMode .Info {
  background-color: #051835;
  -webkit-box-shadow: 3px 10px 35px #010308;
          box-shadow: 3px 10px 35px #010308;
}

.darkMode .Info > .container > .titleWrapper > .bigText > .costs,
.darkMode .Info > .container > .titleWrapper > .bigText > .willBe {
  color: #bbb;
}

.darkMode .Info > .container > .titleWrapper > .bigText > .benefits {
  color: #3a3;
}

.darkMode .Info > .container > .perDistanceWrapper > .unit {
  color: #2af;
}

.darkMode .Info > .container > .perDistanceWrapper > .amount {
  color: #2af;
}

.darkMode .Info > .container > .perDistanceWrapper > .period {
  color: #aaa;
}

.darkMode .Info > .container > .perTimeWrapper > .timeCostWrapper > .period {
  color: #999;
}

.darkMode .Info > .container > .perTimeWrapper > .timeCostWrapper > .amountWrapper > a {
  color: #d4d4d4;
}
/*# sourceMappingURL=Info.css.map */