
/*
    Background:
*/

//light transparent background:
.lightTransparentBackground{
    transition: background-color 150ms;
}
.lightTransparentBackground:enabled:active{
    background-color: rgba(0, 0, 0, 0.035) !important;
}
@media (hover: hover) and (pointer: fine){
    .lightTransparentBackground:enabled:hover{
        background-color: rgba(0, 0, 0, 0.035) !important;
    }
    .lightTransparentBackground:enabled:focus{
        background-color: rgba(0, 0, 0, 0.045) !important;
    }
    .lightTransparentBackground:enabled:active{
        background-color: rgba(0, 0, 0, 0.055) !important;
    }
}
.lightTransparentBackground:disabled{
     opacity: 0.5;
     cursor: default;
}

//light transparent background:
.darkTransparentBackground{
    transition: background-color 200ms ease-in-out;
}
.darkTransparentBackground:enabled:active{
    background-color: rgba(255, 255, 255, 0.15) !important;
}
@media (hover: hover) and (pointer: fine){
    .darkTransparentBackground:enabled:hover{
        background-color: rgba(255, 255, 255, 0.15) !important;
    }
    .darkTransparentBackground:enabled:focus{
        background-color: rgba(255, 255, 255, 0.2) !important;
    }
    .darkTransparentBackground:enabled:active{
        background-color: rgba(255, 255, 255, 0.25) !important;
    }
}
.darkTransparentBackground:disabled{
     opacity: 0.5;
     cursor: default;
}

/*
    custom scrollbar
*/

//thinScrollbar_light:
.thinScrollbar_light::-webkit-scrollbar{
    width: 7px;
    height: 4px;
}
.thinScrollbar_light::-webkit-scrollbar-track{
    background: transparent;
}
.thinScrollbar_light::-webkit-scrollbar-thumb{
    background: #c4c4c4;
    border-radius: 20px;
}
.thinScrollbar_dark{
    @extend .thinScrollbar_light;
}
.thinScrollbar_dark::-webkit-scrollbar{
    width: 6px;
    height: 4px;
}
.thinScrollbar_dark::-webkit-scrollbar-thumb{
    background: #888;
}
//ultraThinScrollbar_light:
.ultraThinScrollbar_light::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
.ultraThinScrollbar_light::-webkit-scrollbar-track{
    background: transparent;
}
.ultraThinScrollbar_light::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 20px;
}
.ultraThinScrollbar_dark{
    @extend .ultraThinScrollbar_light;
}
.ultraThinScrollbar_dark::-webkit-scrollbar-thumb{
    background: #8a8a8a;
}
//not touch screen:
.notTouchScreen{
      @extend .thinScrollbar_light;
    *{@extend .thinScrollbar_light;}
}
.darkMode.notTouchScreen{
    @extend .thinScrollbar_dark;
    *{@extend .thinScrollbar_dark;}
}

/*
    custom range input:
*/

//customRange_light:
.customRange_light{
    width: 100%;
    -webkit-appearance: none; // hides the slider so that custom slider can be made */
    width: 100%;              // specific width is required for Firefox. */
    background: transparent;  // otherwise white in Chrome */
    border: none
}
.customRange_light:focus{
    outline: none; // removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.customRange_light::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2px solid #027;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px; // you need to specify a margin in Chrome, but in Firefox and IE it is automatic
}
.customRange_light::-moz-range-thumb{
    height: 12px;
    width: 12px;
    background-color: white;
    border: 2px solid #027;
    border-radius: 50%;
    cursor: pointer;
}
.customRange_light::-ms-thumb{
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2px solid #027;
    border-radius: 50%;
    cursor: pointer;
}
//the track:
.customRange_light::-webkit-slider-runnable-track{
    width: 100%;
    height: 12px;
    cursor: pointer;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    margin-top: -1px;
    margin-bottom: -1px;
}
.customRange_light::-moz-range-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 8px white;
    border-bottom: solid 8px white;
}
.customRange_light::-ms-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    border-color: transparent;
    color: transparent;
}
.customRange_light::-ms-fill-lower{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
}
.customRange_light::-ms-fill-upper{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
}

//customRange_dark:
.customRange_dark{
    @extend .customRange_light;
}
.customRange_dark::-webkit-slider-thumb{
    background-color: #000b23;
    border: 2px solid #ddd;
}
.customRange_dark::-moz-range-thumb{
    background-color: #000b23;
    border: 2px solid #027;
}
.customRange_dark::-ms-thumb{
    background-color: #000b23;
    border: 2px solid #ddd;
}
.customRange_dark::-webkit-slider-runnable-track{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}
.customRange_dark::-moz-range-track{
    border-top: solid 8px #000b23;
    border-bottom: solid 8px #000b23;
}
.customRange_dark::-ms-track{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}
.customRange_dark::-ms-fill-lower{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}
.customRange_dark::-ms-fill-upper{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}