@import "mixin";

.App{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    > .window{
        width: 100%;
        max-width: 1650px;
        height: fit-content;
        padding: 60px 105px 40px 115px;
        display: flex;
        gap: 110px;
        > .main{
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            > .headerWrapper{
                width: calc(100% + 110px + 600px);
            }
            > .formWrapper{
                flex: 1;
                margin-top: 30px;
            }
        }
        > .infoWrapper{
            width: 600px;
            position: relative;
            > .infoContainer{
                width: 600px;
                padding: 80px 125px 80px 100px;
                @include borderRadius(20px);
                box-shadow: 3px 10px 35px #DDD;
                position: fixed;
                top: 53%;
                @include transform(0, -50%);
            }
        }
    }
}

//height:
@media only screen and (max-height: 950px){
    .App{
        > .window{
            > .infoWrapper{
                > .infoContainer{
                    top: 55%;
                }
            }
        }
    }
}

@media only screen and (max-height: 850px){
    .App{
        > .window{
            > .main{
                > .headerWrapper{
                    width: calc(100% + 12px);
                }
            }
            > .infoWrapper{
                > .infoContainer{
                    top: 50%;
                }
            }
        }
    }
}

@media only screen and (max-height: 780px){
    .App{
        > .window{
            > .main{
                > .formWrapper{
                    margin-top: 25px;
                }
            }
            > .infoWrapper{
                > .infoContainer{
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
            }
        }
    }
}

@media only screen and (max-height: 710px){
    .App{
        > .window{
            padding-top: 50px;
            > .main{
                > .formWrapper{
                    margin-top: 20px;
                }
            }
            > .infoWrapper{
                > .infoContainer{
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
            }
        }
    }
}

@media only screen and (max-height: 680px){
    .App{
        > .window{
            padding-top: 40px;
        }
    }
}

//width:
@media only screen and (max-width: 1600px){
    .App{
        > .window{
            > .infoWrapper{
                width: 560px;
                > .infoContainer{
                    width: 560px;
                    padding-left: 80px;
                    padding-right: 100px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px){
    .App{
        > .window{
            > .infoWrapper{
                width: 540px;
                > .infoContainer{
                    width: 540px;
                    padding-left: 70px;
                    padding-right: 90px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1430px){
    .App{
        > .window{
            padding-left: 100px;
            padding-right: 85px;
            gap: 90px;
            > .infoWrapper{
                width: 520px;
                > .infoContainer{
                    width: 520px;
                    padding-left: 65px;
                    padding-right: 85px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1360px){
    .App{
        > .window{
            padding-left: 90px;
            padding-right: 75px;
            gap: 80px;
            > .infoWrapper{
                width: 505px;
                > .infoContainer{
                    width: 505px;
                    padding-left: 65px;
                    padding-right: 80px;
                }
            }
        }
    }
}