.App {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
}

.App > .window {
  width: 100%;
  max-width: 1650px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 60px 105px 40px 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
}

.App > .window > .main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App > .window > .main > .headerWrapper {
  width: calc(100% + 110px + 600px);
}

.App > .window > .main > .formWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 30px;
}

.App > .window > .infoWrapper {
  width: 600px;
  position: relative;
}

.App > .window > .infoWrapper > .infoContainer {
  width: 600px;
  padding: 80px 125px 80px 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-box-shadow: 3px 10px 35px #DDD;
          box-shadow: 3px 10px 35px #DDD;
  position: fixed;
  top: 53%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}

@media only screen and (max-height: 950px) {
  .App > .window > .infoWrapper > .infoContainer {
    top: 55%;
  }
}

@media only screen and (max-height: 850px) {
  .App > .window > .main > .headerWrapper {
    width: calc(100% + 12px);
  }
  .App > .window > .infoWrapper > .infoContainer {
    top: 50%;
  }
}

@media only screen and (max-height: 780px) {
  .App > .window > .main > .formWrapper {
    margin-top: 25px;
  }
  .App > .window > .infoWrapper > .infoContainer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-height: 710px) {
  .App > .window {
    padding-top: 50px;
  }
  .App > .window > .main > .formWrapper {
    margin-top: 20px;
  }
  .App > .window > .infoWrapper > .infoContainer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-height: 680px) {
  .App > .window {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .App > .window > .infoWrapper {
    width: 560px;
  }
  .App > .window > .infoWrapper > .infoContainer {
    width: 560px;
    padding-left: 80px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 1500px) {
  .App > .window > .infoWrapper {
    width: 540px;
  }
  .App > .window > .infoWrapper > .infoContainer {
    width: 540px;
    padding-left: 70px;
    padding-right: 90px;
  }
}

@media only screen and (max-width: 1430px) {
  .App > .window {
    padding-left: 100px;
    padding-right: 85px;
    gap: 90px;
  }
  .App > .window > .infoWrapper {
    width: 520px;
  }
  .App > .window > .infoWrapper > .infoContainer {
    width: 520px;
    padding-left: 65px;
    padding-right: 85px;
  }
}

@media only screen and (max-width: 1360px) {
  .App > .window {
    padding-left: 90px;
    padding-right: 75px;
    gap: 80px;
  }
  .App > .window > .infoWrapper {
    width: 505px;
  }
  .App > .window > .infoWrapper > .infoContainer {
    width: 505px;
    padding-left: 65px;
    padding-right: 80px;
  }
}
/*# sourceMappingURL=App.css.map */