@font-face {
  font-family: Ubuntu_Light;
  src: url(/src/fonts/Ubuntu-light.ttf);
}

@font-face {
  font-family: Ubuntu_Regular;
  src: url(/src/fonts/Ubuntu-regular.ttf);
}

.hrefUnderline:hover,
.hrefUnderline:focus {
  text-decoration: underline;
}

.transBackActEffect {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.transBackActEffect:enabled:active {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

@media (hover: hover) and (pointer: fine) {
  .transBackActEffect:enabled:hover {
    background-color: rgba(0, 0, 0, 0.025) !important;
  }
  .transBackActEffect:enabled:focus {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .transBackActEffect:enabled:active {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
}

.transBackActEffect:disabled {
  opacity: 0.5;
  cursor: default;
}

.colorBackActEffect {
  -webkit-transition: -webkit-filter 100ms;
  transition: -webkit-filter 100ms;
  transition: filter 100ms;
  transition: filter 100ms, -webkit-filter 100ms;
}

.colorBackActEffect:active {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

@media (hover: hover) and (pointer: fine) {
  .colorBackActEffect:hover {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
  }
  .colorBackActEffect:focus {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  .colorBackActEffect:active {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
}

.threeDotsOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notSelectable, body h1, body h2, body h3, body h4, body a, body p,
body input[type="button"],
body button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectableText {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.darkThinScrollbar::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 7px;
}

.darkThinScrollbar::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.darkThinScrollbar::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.darkUltraThinScrollbar::-webkit-scrollbar {
  width: 4px;
}

.darkUltraThinScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.darkUltraThinScrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.noScrollbar::-webkit-scrollbar {
  width: 0;
}

.customRange {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  border: none;
}

.customRange:focus {
  outline: none;
}

.customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}

.customRange::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange::-ms-thumb {
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  margin-top: -1px;
  margin-bottom: -1px;
}

.customRange::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 8px white;
  border-bottom: solid 8px white;
}

.customRange::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  border-color: transparent;
  color: transparent;
}

.customRange::-ms-fill-lower {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.customRange::-ms-fill-upper {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

html {
  width: 100%;
  height: 100%;
  font-size: 0.625rem;
}

body {
  width: 100%;
  height: 100%;
  direction: ltr;
  background-color: white;
  font-family: Ubuntu_Regular, serif;
  text-align: start;
  cursor: default;
  margin: 0;
}

body > #root {
  width: 100%;
  height: 100%;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a, body p, body input, body button, body select {
  font-family: Ubuntu_Regular, serif;
}

body a::-moz-focus-inner,
body input::-moz-focus-inner,
body button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  outline: none;
}

body input, body button, body select {
  border: none;
  outline: none;
}

body input[type="button"], body button, body select {
  cursor: pointer;
}

body input:required,
body input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body input[type="button"], body button {
  padding: 0;
  background: none;
}
/*# sourceMappingURL=index.css.map */