/*
    Background:
*/
.lightTransparentBackground {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.lightTransparentBackground:enabled:active {
  background-color: rgba(0, 0, 0, 0.035) !important;
}

@media (hover: hover) and (pointer: fine) {
  .lightTransparentBackground:enabled:hover {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .lightTransparentBackground:enabled:focus {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
  .lightTransparentBackground:enabled:active {
    background-color: rgba(0, 0, 0, 0.055) !important;
  }
}

.lightTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkTransparentBackground {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.darkTransparentBackground:enabled:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

@media (hover: hover) and (pointer: fine) {
  .darkTransparentBackground:enabled:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }
  .darkTransparentBackground:enabled:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  .darkTransparentBackground:enabled:active {
    background-color: rgba(255, 255, 255, 0.25) !important;
  }
}

.darkTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

/*
    custom scrollbar
*/
.thinScrollbar_light::-webkit-scrollbar, .thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

.thinScrollbar_light::-webkit-scrollbar-track, .thinScrollbar_dark::-webkit-scrollbar-track, .darkMode.notTouchScreen::-webkit-scrollbar-track, .darkMode.notTouchScreen ::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.thinScrollbar_light::-webkit-scrollbar-thumb, .thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb {
  background: #888;
}

.ultraThinScrollbar_light::-webkit-scrollbar, .ultraThinScrollbar_dark::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ultraThinScrollbar_light::-webkit-scrollbar-track, .ultraThinScrollbar_dark::-webkit-scrollbar-track {
  background: transparent;
}

.ultraThinScrollbar_light::-webkit-scrollbar-thumb, .ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}

.CookieAck {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s ease, opacity 0.2s ease;
  transition: visibility 0.2s ease, opacity 0.2s ease;
  z-index: 10;
}

.CookieAck > .window {
  width: 90%;
  max-width: 390px;
  height: 90%;
  max-height: 540px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}

.CookieAck > .window > .container {
  width: 100%;
  max-width: 330px;
  height: 100%;
  max-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CookieAck > .window > .container > .imageWrapper {
  width: 100%;
  -webkit-box-flex: 1.25;
      -ms-flex: 1.25;
          flex: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CookieAck > .window > .container > .imageWrapper > .image {
  width: 100%;
  max-width: 225px;
  height: 100%;
  max-height: 225px;
  background: transparent url(/src/icons/cookie.svg) no-repeat center/100% 100%;
}

.CookieAck > .window > .container > .bottomArea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CookieAck > .window > .container > .bottomArea > .textsWrapper {
  width: 100%;
}

.CookieAck > .window > .container > .bottomArea > .textsWrapper > .massage {
  width: 100%;
  margin: 10px 0 5px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: normal;
}

.CookieAck > .window > .container > .bottomArea > .textsWrapper > .description {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: normal;
  color: #999;
}

.CookieAck > .window > .container > .bottomArea > .buttonWrapper {
  width: 100%;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CookieAck > .window > .container > .bottomArea > .buttonWrapper > .acceptButton {
  width: 150px;
  height: 50px;
  background-color: rgba(10, 100, 10, 0.2);
  color: #0a640a;
  font-size: 1.6rem;
  border-radius: 7px;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

.CookieAck > .window > .container > .bottomArea > .buttonWrapper > .acceptButton:hover,
.CookieAck > .window > .container > .bottomArea > .buttonWrapper > .acceptButton:focus {
  background-color: rgba(10, 100, 10, 0.3);
}

.CookieAck > .window > .container > .bottomArea > .buttonWrapper > .acceptButton:active {
  background-color: rgba(10, 100, 10, 0.4);
}

.CookieAck.visible {
  visibility: visible;
  opacity: 1;
}

.CookieAck.visible > .window {
  bottom: 0;
}
/*# sourceMappingURL=CookieAck.css.map */