/*
    Background:
*/
.lightTransparentBackground, .Header > .menu input {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.lightTransparentBackground:enabled:active, .Header > .menu input:enabled:active {
  background-color: rgba(0, 0, 0, 0.035) !important;
}

@media (hover: hover) and (pointer: fine) {
  .lightTransparentBackground:enabled:hover, .Header > .menu input:enabled:hover {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .lightTransparentBackground:enabled:focus, .Header > .menu input:enabled:focus {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
  .lightTransparentBackground:enabled:active, .Header > .menu input:enabled:active {
    background-color: rgba(0, 0, 0, 0.055) !important;
  }
}

.lightTransparentBackground:disabled, .Header > .menu input:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkTransparentBackground, .darkMode .Header > .menu input {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.darkTransparentBackground:enabled:active, .darkMode .Header > .menu input:enabled:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

@media (hover: hover) and (pointer: fine) {
  .darkTransparentBackground:enabled:hover, .darkMode .Header > .menu input:enabled:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }
  .darkTransparentBackground:enabled:focus, .darkMode .Header > .menu input:enabled:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  .darkTransparentBackground:enabled:active, .darkMode .Header > .menu input:enabled:active {
    background-color: rgba(255, 255, 255, 0.25) !important;
  }
}

.darkTransparentBackground:disabled, .darkMode .Header > .menu input:disabled {
  opacity: 0.5;
  cursor: default;
}

/*
    custom scrollbar
*/
.thinScrollbar_light::-webkit-scrollbar, .thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

.thinScrollbar_light::-webkit-scrollbar-track, .thinScrollbar_dark::-webkit-scrollbar-track, .darkMode.notTouchScreen::-webkit-scrollbar-track, .darkMode.notTouchScreen ::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.thinScrollbar_light::-webkit-scrollbar-thumb, .thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb {
  background: #888;
}

.ultraThinScrollbar_light::-webkit-scrollbar, .ultraThinScrollbar_dark::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ultraThinScrollbar_light::-webkit-scrollbar-track, .ultraThinScrollbar_dark::-webkit-scrollbar-track {
  background: transparent;
}

.ultraThinScrollbar_light::-webkit-scrollbar-thumb, .ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}

.Header {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header > .appNameWrapper {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header > .appNameWrapper > .name {
  padding-bottom: 8px;
  font-size: 4.4rem;
  font-weight: normal;
  color: #027;
  margin: 0;
}

.Header > .appNameWrapper > .description {
  width: 130px;
  padding: 0 0 0 12px;
  border-left: solid 2px #cacaca;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: normal;
  color: #999;
  margin: 0 0 0 14px;
}

.Header > .menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.Header > .menu input {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.Header > .menu > .backButton {
  margin-left: -17px;
  background-image: url(/src/icons/left_111.svg);
  background-size: 27px auto;
  display: none;
}

.Header > .menu > .endButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.Header > .menu > .endButtonsContainer > .themeButton {
  background-image: url(/src/icons/moon_111.svg);
  background-size: 24px auto;
}

.Header > .menu > .endButtonsContainer > .menuButton {
  margin-right: -13px;
  background-image: url(/src/icons/menu_222.svg);
  background-size: 28px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.Header > .menu > .endButtonsContainer > .menuButton.rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.darkMode .Header > .appNameWrapper > .name {
  color: #eee;
}

.darkMode .Header > .appNameWrapper > .description {
  border-left-color: #a0a0a0;
  color: #aaa;
}

.darkMode .Header > .menu > .backButton {
  background-image: url(/src/icons/left_fff.svg);
}

.darkMode .Header > .menu > .endButtonsContainer > .themeButton {
  background-image: url(/src/icons/sun_fff.svg);
}

.darkMode .Header > .menu > .endButtonsContainer > .menuButton {
  background-image: url(/src/icons/menu_e3e3e3.svg);
}
/*# sourceMappingURL=Header.css.map */