@import "../../stylesheets/classes";

.Header{
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .appNameWrapper{
        padding-right: 8px;
        display: flex;
        align-items: center;
        > .name{
            padding-bottom: 8px;
            font-size: 4.4rem;
            font-weight: normal;
            color: #027;
            margin: 0;
        }
        > .description{
            width: 130px;
            padding: 0 0 0 12px;
            border-left: solid 2px #cacaca;
            font-size: 1.4rem;
            line-height: 20px;
            font-weight: normal;
            color: #999;
            margin: 0 0 0 14px;
        }
    }
    > .menu{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        flex: 0;
        input{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            @extend .lightTransparentBackground;
        }
        > .backButton{
            margin-left: -17px;
            background-image: url(../../assets/left_111.svg);
            background-size: 27px auto;
            display: none;
        }
        > .endButtonsContainer{
            display: flex;
            gap: 15px;
            > .themeButton{
                background-image: url(../../assets/moon_111.svg );
                background-size: 24px auto;
                transition: all 200ms ease-in-out;
            }
            > .menuButton{
                margin-right: -13px;
                background-image: url(../../assets/menu_202020.svg);
                background-size: 28px;
                transition: all 300ms ease-in-out;
            }
            > .menuButton.rotate{
                transform: rotate(360deg);
            }
        }
    }
}

//dark mode:
.darkMode{
    .Header{
        > .appNameWrapper{
            > .name{
                color: #eee;
            }
            > .description{
                border-left-color: #a0a0a0;
                color: #aaa;
            }
        }
        > .menu{
            input{
                @extend .darkTransparentBackground;
            }
            > .backButton{
                background-image: url(../../assets/left_fff.svg);
            }
            > .endButtonsContainer{
                > .themeButton{
                    background-image: url(../../assets/sun_fff.svg);
                    transform: rotate(360deg);
                }
                > .menuButton{
                    background-image: url(../../assets/menu_e9e9e9.svg);
                }
            }
        }
    }
}