.hrefUnderline:hover,
.hrefUnderline:focus {
  text-decoration: underline;
}

.transBackActEffect, .Header > .menu input {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.transBackActEffect:enabled:active, .Header > .menu input:enabled:active {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

@media (hover: hover) and (pointer: fine) {
  .transBackActEffect:enabled:hover, .Header > .menu input:enabled:hover {
    background-color: rgba(0, 0, 0, 0.025) !important;
  }
  .transBackActEffect:enabled:focus, .Header > .menu input:enabled:focus {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .transBackActEffect:enabled:active, .Header > .menu input:enabled:active {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
}

.transBackActEffect:disabled, .Header > .menu input:disabled {
  opacity: 0.5;
  cursor: default;
}

.colorBackActEffect {
  -webkit-transition: -webkit-filter 100ms;
  transition: -webkit-filter 100ms;
  transition: filter 100ms;
  transition: filter 100ms, -webkit-filter 100ms;
}

.colorBackActEffect:active {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

@media (hover: hover) and (pointer: fine) {
  .colorBackActEffect:hover {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
  }
  .colorBackActEffect:focus {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  .colorBackActEffect:active {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
}

.threeDotsOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notSelectable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectableText {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.darkThinScrollbar::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 7px;
}

.darkThinScrollbar::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.darkThinScrollbar::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.darkUltraThinScrollbar::-webkit-scrollbar {
  width: 4px;
}

.darkUltraThinScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.darkUltraThinScrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.noScrollbar::-webkit-scrollbar {
  width: 0;
}

.customRange {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  border: none;
}

.customRange:focus {
  outline: none;
}

.customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}

.customRange::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange::-ms-thumb {
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  margin-top: -1px;
  margin-bottom: -1px;
}

.customRange::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 8px white;
  border-bottom: solid 8px white;
}

.customRange::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  border-color: transparent;
  color: transparent;
}

.customRange::-ms-fill-lower {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.customRange::-ms-fill-upper {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.Header {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header > .appNameWrapper {
  padding-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header > .appNameWrapper > .name {
  padding-bottom: 8px;
  font-size: 4.4rem;
  font-weight: normal;
  color: #027;
  margin: 0;
}

.Header > .appNameWrapper > .description {
  width: 130px;
  padding: 0 0 0 12px;
  border-left: solid 2px #cacaca;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: normal;
  color: #999;
  margin: 0 0 0 14px;
}

.Header > .menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.Header > .menu input {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.Header > .menu > .backButton {
  margin-left: -17px;
  background-image: url(/src/icons/left_111.svg);
  background-size: 27px auto;
  display: none;
}

.Header > .menu > .endButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.Header > .menu > .endButtonsContainer > .lightButton {
  background-image: url(/src/icons/lightMode_fff.svg);
  background-size: 24px auto;
  display: none;
}

.Header > .menu > .endButtonsContainer > .darkButton {
  background-image: url(/src/icons/moon_111.svg);
  background-size: 24px auto;
  display: none;
}

.Header > .menu > .endButtonsContainer > .menuButton {
  margin-right: -13px;
  background-image: url(/src/icons/menu_222.svg);
  background-size: 28px;
}
/*# sourceMappingURL=Header.css.map */