@import "../../stylesheets/classes";

.RangeInput{
    width: 100%;
    height: auto;
    max-height: 100px;
    margin-top: 35px;
    position: relative;
    overflow: hidden;
    transition: all 350ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .content{
        width: 100%;
        opacity: 1;
        transition: opacity 350ms ease-in-out;
        > .title{
            font-size: 1.5rem;
            color: #aaa;
        }
        > .valueWrapper{
            position: relative;
            margin-top: 12px;
            margin-bottom: 3px;
            display: flex;
            > .unit{
                padding-right: 3px;
                padding-top: 5px;
                color: #027;
                font-size: 1.8rem;
            }
            > .textInput{
                width: 100px;
                background-color: transparent;
                font-size: 3.1rem;
                color: #027;
                flex: 1;
            }
            > .comment{
                max-width: 200px;
                text-align: right;
                position: absolute;
                bottom: 1px;
                right: 0;
                min-height: 20px;
                font-size: 1.5rem;
                color: #aaa;
            }
        }
        > .rangeInput{
            @extend .customRange_light;
            margin: 0;
        }
        > .rangeInfoWrapper{
            width: 100%;
            padding-top: 3px;
            display: flex;
            justify-content: space-between;
            > a{
                font-size: 1.3rem;
                color: #bbb;
            }
        }
    }
}

//disable:
.RangeInput.disable{
    max-height: 0;
    margin-top: 0;
    > .content{
        opacity: 0;
    }
}

//in settings:
.RangeInput.settings{
    margin-top: 8px;
    > .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > .title{
            font-size: 1.6rem;
            line-height: 25px;
            color: #292929;
        }
        > .valueWrapper{
            margin-top: 0;
            margin-bottom: 0;
            > .unit{
                padding-right: 2px;
                padding-top: 3px;
                font-size: 1.4rem;
            }
            > .textInput{
                width: 50px;
                font-size: 2.1rem;
            }
            > .comment{
                min-width: 40px;
                position: static;
                font-size: 1.6rem;
                text-align: right;
                line-height: 26px;
            }
        }
        > .rangeInput{
            display: none;
        }
        > .rangeInfoWrapper{
            display: none;
        }
    }
}

//dark mode:
.darkMode{
    .RangeInput{
        > .content{
            > .title{
                color: #afafaf;
            }
            > .valueWrapper{
                > .unit{
                    color: #ddd;
                }
                > .textInput{
                    color: #ddd;
                }
                > .comment{
                    color: #afafaf;
                }
            }
            > .rangeInput{
                @extend .customRange_dark;
                margin: 0;
            }
            > .rangeInfoWrapper{
                width: 100%;
                padding-top: 3px;
                display: flex;
                justify-content: space-between;
                > a{
                    font-size: 1.3rem;
                    color: #bbb;
                }
            }
        }
    }
    
    //in settings:
    .RangeInput.settings{
        > .content{
            > .title{
                color: #ddd;
            }
            > .valueWrapper{
                > .textInput{
                    width: 50px;
                    font-size: 2.1rem;
                }
            }
            > .rangeInfoWrapper{
                display: none;
            }
        }
    }
    
}


/*
    custom range input:
*/

//customRange_light:
.customRange_light{
    width: 100%;
    -webkit-appearance: none; // hides the slider so that custom slider can be made */
    width: 100%;              // specific width is required for Firefox. */
    background: transparent;  // otherwise white in Chrome */
    border: none
}
.customRange_light:focus{
    outline: none; // removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.customRange_light::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2px solid #027;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px; // you need to specify a margin in Chrome, but in Firefox and IE it is automatic
}
.customRange_light::-moz-range-thumb{
    height: 12px;
    width: 12px;
    background-color: white;
    border: 2px solid #027;
    border-radius: 50%;
    cursor: pointer;
}
.customRange_light::-ms-thumb{
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2px solid #027;
    border-radius: 50%;
    cursor: pointer;
}
//the track:
.customRange_light::-webkit-slider-runnable-track{
    width: 100%;
    height: 12px;
    cursor: pointer;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    margin-top: -1px;
    margin-bottom: -1px;
}
.customRange_light::-moz-range-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 8px white;
    border-bottom: solid 8px white;
}
.customRange_light::-ms-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    border-color: transparent;
    color: transparent;
}
.customRange_light::-ms-fill-lower{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
}
.customRange_light::-ms-fill-upper{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
}

//customRange_dark:
.customRange_dark{
    @extend .customRange_light;
}
.customRange_dark::-webkit-slider-thumb{
    background-color: #000b23;
    border: 2px solid #ddd;
}
.customRange_dark::-moz-range-thumb{
    background-color: #000b23;
    border: 2px solid #027;
}
.customRange_dark::-ms-thumb{
    background-color: #000b23;
    border: 2px solid #ddd;
}
.customRange_dark::-webkit-slider-runnable-track{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}
.customRange_dark::-moz-range-track{
    border-top: solid 8px #000b23;
    border-bottom: solid 8px #000b23;
}
.customRange_dark::-ms-track{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}
.customRange_dark::-ms-fill-lower{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}
.customRange_dark::-ms-fill-upper{
    border-top: solid 5px #000b23;
    border-bottom: solid 5px #000b23;
}