.RangeInput {
  width: 100%;
  height: auto;
  max-height: 100px;
  margin-top: 35px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RangeInput > .content {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.RangeInput > .content > .title {
  font-size: 1.5rem;
  color: #aaa;
}

.RangeInput > .content > .valueWrapper {
  margin-top: 12px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3px;
}

.RangeInput > .content > .valueWrapper > .unit {
  padding-top: 4px;
  color: #027;
  font-size: 1.8rem;
}

.RangeInput > .content > .valueWrapper > .textInput {
  width: 100px;
  background-color: transparent;
  font-size: 3.1rem;
  color: #027;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.RangeInput > .content > .valueWrapper > .comment {
  max-width: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 5px;
  text-align: right;
  font-size: 1.5rem;
  color: #aaa;
}

.RangeInput > .content > .valueWrapper > .comment > .SelectInput {
  width: auto;
  min-height: unset;
  margin-bottom: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
}

.RangeInput > .content > .valueWrapper > .comment > .SelectInput > .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  color: #99a;
  display: unset;
}

.RangeInput > .content > .valueWrapper > .comment > .SelectInput > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-top: 0;
}

.RangeInput > .content > .valueWrapper > .comment > .SelectInput > div > .selectWrapper {
  background-color: white;
}

.RangeInput > .content > .valueWrapper > .comment > .SelectInput > div > .selectWrapper > .select {
  height: 25px;
  border: none;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 2px;
  font-size: 1.6rem !important;
}

.RangeInput > .content > .rangeInput {
  margin: 0;
}

.RangeInput > .content > .rangeInfoWrapper {
  width: 100%;
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.RangeInput > .content > .rangeInfoWrapper > a {
  font-size: 1.3rem;
  color: #bbb;
}

.RangeInput.disable {
  max-height: 0;
  margin-top: 0;
}

.RangeInput.disable > .content {
  opacity: 0;
}

.darkMode .RangeInput > .content > .title {
  color: #afafaf;
}

.darkMode .RangeInput > .content > .valueWrapper > .unit {
  color: #ddd;
}

.darkMode .RangeInput > .content > .valueWrapper > .textInput {
  color: #ddd;
}

.darkMode .RangeInput > .content > .valueWrapper > .comment {
  color: #afafaf;
}

.darkMode .RangeInput > .content > .valueWrapper > .comment > .SelectInput > .title {
  color: #afafaf;
}

.darkMode .RangeInput > .content > .valueWrapper > .comment > .SelectInput > div > .selectWrapper {
  background-color: #000b27;
}

.darkMode .RangeInput > .content > .valueWrapper > .comment > .SelectInput > div > .selectWrapper > .select {
  color: #ddd;
  background-color: #000b27;
}

.darkMode .RangeInput > .content > .valueWrapper > .comment > .SelectInput > div > .comment {
  color: #afafaf;
}

.darkMode .RangeInput > .content > .rangeInput {
  margin: 0;
}

.darkMode .RangeInput > .content > .rangeInfoWrapper {
  width: 100%;
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.darkMode .RangeInput > .content > .rangeInfoWrapper > a {
  font-size: 1.3rem;
  color: #bbb;
}

/*
    custom range input:
*/
.customRange_light, .RangeInput > .content > .rangeInput, .customRange_dark, .darkMode .RangeInput > .content > .rangeInput {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  border: none;
}

.customRange_light:focus, .RangeInput > .content > .rangeInput:focus, .customRange_dark:focus, .darkMode .RangeInput > .content > .rangeInput:focus {
  outline: none;
}

.customRange_light::-webkit-slider-thumb, .RangeInput > .content > .rangeInput::-webkit-slider-thumb, .customRange_dark::-webkit-slider-thumb, .darkMode .RangeInput > .content > .rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}

.customRange_light::-moz-range-thumb, .RangeInput > .content > .rangeInput::-moz-range-thumb, .customRange_dark::-moz-range-thumb, .darkMode .RangeInput > .content > .rangeInput::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange_light::-ms-thumb, .RangeInput > .content > .rangeInput::-ms-thumb, .customRange_dark::-ms-thumb, .darkMode .RangeInput > .content > .rangeInput::-ms-thumb {
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange_light::-webkit-slider-runnable-track, .RangeInput > .content > .rangeInput::-webkit-slider-runnable-track, .customRange_dark::-webkit-slider-runnable-track, .darkMode .RangeInput > .content > .rangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  margin-top: -1px;
  margin-bottom: -1px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.customRange_light::-moz-range-track, .RangeInput > .content > .rangeInput::-moz-range-track, .customRange_dark::-moz-range-track, .darkMode .RangeInput > .content > .rangeInput::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 8px white;
  border-bottom: solid 8px white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.customRange_light::-ms-track, .RangeInput > .content > .rangeInput::-ms-track, .customRange_dark::-ms-track, .darkMode .RangeInput > .content > .rangeInput::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  border-color: transparent;
  color: transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.customRange_light::-ms-fill-lower, .RangeInput > .content > .rangeInput::-ms-fill-lower, .customRange_dark::-ms-fill-lower, .darkMode .RangeInput > .content > .rangeInput::-ms-fill-lower {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.customRange_light::-ms-fill-upper, .RangeInput > .content > .rangeInput::-ms-fill-upper, .customRange_dark::-ms-fill-upper, .darkMode .RangeInput > .content > .rangeInput::-ms-fill-upper {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.customRange_dark::-webkit-slider-thumb, .darkMode .RangeInput > .content > .rangeInput::-webkit-slider-thumb {
  background-color: #000b27;
  border: 2px solid #ddd;
}

.customRange_dark::-moz-range-thumb, .darkMode .RangeInput > .content > .rangeInput::-moz-range-thumb {
  background-color: #000b27;
  border: 2px solid #027;
}

.customRange_dark::-ms-thumb, .darkMode .RangeInput > .content > .rangeInput::-ms-thumb {
  background-color: #000b27;
  border: 2px solid #ddd;
}

.customRange_dark::-webkit-slider-runnable-track, .darkMode .RangeInput > .content > .rangeInput::-webkit-slider-runnable-track {
  border-top: solid 5px #000b27;
  border-bottom: solid 5px #000b27;
}

.customRange_dark::-moz-range-track, .darkMode .RangeInput > .content > .rangeInput::-moz-range-track {
  border-top: solid 8px #000b27;
  border-bottom: solid 8px #000b27;
}

.customRange_dark::-ms-track, .darkMode .RangeInput > .content > .rangeInput::-ms-track {
  border-top: solid 5px #000b27;
  border-bottom: solid 5px #000b27;
}

.customRange_dark::-ms-fill-lower, .darkMode .RangeInput > .content > .rangeInput::-ms-fill-lower {
  border-top: solid 5px #000b27;
  border-bottom: solid 5px #000b27;
}

.customRange_dark::-ms-fill-upper, .darkMode .RangeInput > .content > .rangeInput::-ms-fill-upper {
  border-top: solid 5px #000b27;
  border-bottom: solid 5px #000b27;
}
/*# sourceMappingURL=RangeInput.css.map */