@import "../../stylesheets/classes";

.SelectInput{
    width: 50%;
    min-height: 131px;
    padding-top: 35px;
    > .title{
        font-size: 1.5rem;
        color: #aaa;
        display: block;
    }
    > div{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        > .selectWrapper{
            background-color: #f5f5f5;
            border-radius: 7px;
            transition: background-color 200ms ease-in-out;
            > .select{
                box-sizing: content-box;
                width: auto;
                height: 51px;
                border-right: solid 10px transparent;
                border-left: solid 10px transparent;
                padding-right: 3px;
                padding-left: 2px;
                background: transparent;
                text-align: center;
                font-size: 2.8rem;
                color: #027;
                border-radius: 7px;
                @extend .ultraThinScrollbar_light;
                transition: background-color 200ms ease-in-out;
            }
        }
        > .comment{
            font-size: 1.5rem;
            color: #aaa;
        }
    }
}

//disable:
.SelectInput.disable{
    pointer-events: none;
}

//in settings:
.SelectInput.settings{
    width: 100%;
    min-height: unset;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 8px;
    > .title{
        font-size: 1.6rem;
        line-height: 25px;
        color: #292929;
        display: unset;
    }
    > div{
        display: flex;
        margin-top: 0;
        > .selectWrapper{
            background-color: transparent;
            > .select{
                min-width: 45px;
                height: 25px;
                padding-right: 5px;
                border: none;
                padding-bottom: 2px;
                font-size: 1.6rem;
                text-align: right;
            }
        }
        > .comment{
            display: none;
        }
    }
}

//dark mode:
.darkMode{
    .SelectInput{
        > .title{
            color: #afafaf;
        }
        > div{
            > .selectWrapper{
                background-color: #072037;
                > .select{
                    color: #efefef;
                    background-color: #072037;
                    @extend .ultraThinScrollbar_dark;
                }
            }
        }
    }
    //in settings:
    .SelectInput.settings{
        > .title{
            color: #ddd;
        }
        > div{
            > .selectWrapper{
                background-color: #012;
                > .select{
                    background-color: #012;
                    color: #ddd;
                }
            }
        }
    }
}