/*
    Background:
*/
.lightTransparentBackground {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.lightTransparentBackground:enabled:active {
  background-color: rgba(0, 0, 0, 0.035) !important;
}

@media (hover: hover) and (pointer: fine) {
  .lightTransparentBackground:enabled:hover {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .lightTransparentBackground:enabled:focus {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
  .lightTransparentBackground:enabled:active {
    background-color: rgba(0, 0, 0, 0.055) !important;
  }
}

.lightTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkTransparentBackground {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.darkTransparentBackground:enabled:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

@media (hover: hover) and (pointer: fine) {
  .darkTransparentBackground:enabled:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }
  .darkTransparentBackground:enabled:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  .darkTransparentBackground:enabled:active {
    background-color: rgba(255, 255, 255, 0.25) !important;
  }
}

.darkTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

/*
    custom scrollbar
*/
.thinScrollbar_light::-webkit-scrollbar, .thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.thinScrollbar_light::-webkit-scrollbar-track, .thinScrollbar_dark::-webkit-scrollbar-track, .darkMode.notTouchScreen::-webkit-scrollbar-track, .darkMode.notTouchScreen ::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.thinScrollbar_light::-webkit-scrollbar-thumb, .thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb {
  background: #888;
}

.ultraThinScrollbar_light::-webkit-scrollbar, .ultraThinScrollbar_dark::-webkit-scrollbar, .darkMode .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar, .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ultraThinScrollbar_light::-webkit-scrollbar-track, .ultraThinScrollbar_dark::-webkit-scrollbar-track, .darkMode .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar-track, .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar-track {
  background: transparent;
}

.ultraThinScrollbar_light::-webkit-scrollbar-thumb, .ultraThinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar-thumb, .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.ultraThinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode .SelectInput > div > .selectWrapper > .select::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}

.SelectInput {
  width: 50%;
  min-height: 131px;
  padding-top: 35px;
}

.SelectInput > .title {
  font-size: 1.5rem;
  color: #aaa;
  display: block;
}

.SelectInput > div {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.SelectInput > div > .selectWrapper {
  background-color: #f5f5f5;
  border-radius: 7px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.SelectInput > div > .selectWrapper > .select {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto;
  height: 51px;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  padding-right: 3px;
  padding-left: 2px;
  background: transparent;
  text-align: center;
  font-size: 2.8rem;
  color: #027;
  border-radius: 7px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.SelectInput > div > .comment {
  font-size: 1.5rem;
  color: #aaa;
}

.SelectInput.disable {
  pointer-events: none;
}

.SelectInput.settings {
  width: 100%;
  min-height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 8px;
}

.SelectInput.settings > .title {
  font-size: 1.6rem;
  line-height: 25px;
  color: #292929;
  display: unset;
}

.SelectInput.settings > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.SelectInput.settings > div > .selectWrapper {
  background-color: transparent;
}

.SelectInput.settings > div > .selectWrapper > .select {
  min-width: 45px;
  height: 25px;
  padding-right: 5px;
  border: none;
  padding-bottom: 2px;
  font-size: 1.6rem;
  text-align: right;
}

.SelectInput.settings > div > .comment {
  display: none;
}

.darkMode .SelectInput > .title {
  color: #afafaf;
}

.darkMode .SelectInput > div > .selectWrapper {
  background-color: #072037;
}

.darkMode .SelectInput > div > .selectWrapper > .select {
  color: #efefef;
  background-color: #072037;
}

.darkMode .SelectInput.settings > .title {
  color: #ddd;
}

.darkMode .SelectInput.settings > div > .selectWrapper {
  background-color: #012;
}

.darkMode .SelectInput.settings > div > .selectWrapper > .select {
  background-color: #012;
  color: #ddd;
}
/*# sourceMappingURL=SelectInput.css.map */