.hrefUnderline:hover,
.hrefUnderline:focus {
  text-decoration: underline;
}

.transBackActeffect, .Settings > .window > .closeButton {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.transBackActeffect:enabled:active, .Settings > .window > .closeButton:enabled:active {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

@media (hover: hover) and (pointer: fine) {
  .transBackActeffect:enabled:hover, .Settings > .window > .closeButton:enabled:hover {
    background-color: rgba(0, 0, 0, 0.025) !important;
  }
  .transBackActeffect:enabled:focus, .Settings > .window > .closeButton:enabled:focus {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .transBackActeffect:enabled:active, .Settings > .window > .closeButton:enabled:active {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
}

.transBackActeffect:disabled, .Settings > .window > .closeButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.colorBackActeffect {
  -webkit-transition: -webkit-filter 100ms;
  transition: -webkit-filter 100ms;
  transition: filter 100ms;
  transition: filter 100ms, -webkit-filter 100ms;
}

.colorBackActeffect:active {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

@media (hover: hover) and (pointer: fine) {
  .colorBackActeffect:hover {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
  }
  .colorBackActeffect:focus {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
  }
  .colorBackActeffect:active {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
}

.threeDotsOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notSelectable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectableText, .Settings > .window > .containerwrapper > .about * {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

.darkThinScrollbar::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 7px;
}

.darkThinScrollbar::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.darkThinScrollbar::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.darkUltraThinScrollbar::-webkit-scrollbar {
  width: 4px;
}

.darkUltraThinScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.darkUltraThinScrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.noScrollbar::-webkit-scrollbar {
  width: 0;
}

.customRange {
  width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  border: none;
}

.customRange:focus {
  outline: none;
}

.customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
}

.customRange::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange::-ms-thumb {
  height: 16px;
  width: 16px;
  background-color: white;
  border: 2px solid #027;
  border-radius: 50%;
  cursor: pointer;
}

.customRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  margin-top: -1px;
  margin-bottom: -1px;
}

.customRange::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 8px white;
  border-bottom: solid 8px white;
}

.customRange::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  border-color: transparent;
  color: transparent;
}

.customRange::-ms-fill-lower {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.customRange::-ms-fill-upper {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.Settings {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s ease, opacity 0.2s ease;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.Settings > .window {
  width: 100%;
  max-width: 1400px;
  height: 450px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  border-top-left-radius: 17px;
  -webkit-border-top-left-radius: 17px;
  -moz-border-top-left-radius: 17px;
  -ms-border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  -webkit-border-top-right-radius: 17px;
  -moz-border-top-right-radius: 17px;
  -ms-border-top-right-radius: 17px;
  background-color: white;
  -webkit-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}

.Settings > .window > .closeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent url(/src/icons/down.svg) no-repeat center/20px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}

.Settings > .window > .containerwrapper {
  width: 100%;
  max-width: 940px;
  height: 100%;
  max-height: 350px;
  padding: 40px;
  overflow: auto;
  position: absolute;
  left: 49%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.Settings > .window > .containerwrapper > .container {
  width: 50%;
  max-width: 360px;
}

.Settings > .window > .containerwrapper > .container > .title {
  display: block;
  margin-bottom: 27px;
  font-size: 2.8rem;
  line-height: 40px;
  color: #222;
}

.Settings > .window > .containerwrapper > .settings > .section {
  margin-top: 18px;
  margin-bottom: 4px;
}

.Settings > .window > .containerwrapper > .settings > .section > .name {
  font-size: 1.2rem;
  color: #aaa;
}

.Settings > .window > .containerwrapper > .about > #prices {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Settings > .window > .containerwrapper > .about > .madeBy {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: normal;
}

.Settings > .window > .containerwrapper > .about > .version {
  font-size: 1.4rem;
}

.Settings > .window > .containerwrapper > .about > .sectionTitle {
  margin: 27px 0 0 0;
  display: block;
  font-size: 1.2rem;
  color: #aaa;
}

.Settings > .window > .containerwrapper > .about > p {
  font-size: 1.4rem;
}

.Settings > .window > .containerwrapper > .about .link {
  font-style: italic;
  color: #027;
}

.Settings > .window > .containerwrapper > .about .link:hover,
.Settings > .window > .containerwrapper > .about .link:focus {
  text-decoration: underline;
  cursor: pointer;
}

.Settings.visible {
  visibility: visible;
  opacity: 1;
}

.Settings.visible > .window {
  bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .Settings > .window > .containerwrapper {
    left: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .Settings > .window {
    height: 80%;
    max-height: unset;
  }
  .Settings > .window > .closeButton {
    -webkit-box-shadow: 1px 1px 8px #ddd;
            box-shadow: 1px 1px 8px #ddd;
    z-index: 10;
    top: unset;
    right: 20px;
    bottom: 20px;
  }
  .Settings > .window > .containerwrapper {
    max-height: unset;
    padding: 0 25px 40px 25px;
    left: 0;
    top: 25px;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 25px;
  }
  .Settings > .window > .containerwrapper > .container {
    width: 100%;
    max-width: unset;
  }
}
/*# sourceMappingURL=Settings.css.map */