@import '../../stylesheets/classes';

.Settings{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    z-index: 10;
    > .window{
        width: 100%;
        max-width: 1400px;
        height: 450px;
        position: absolute;
        left: 50%;
        bottom: -100%;
        transform: translate(-50%, 0);
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        background-color: white;
        transition: bottom 0.2s ease;
        > .closeButton{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 15px;
            right: 15px;
            background: white url(/src/icons/down_111.svg) no-repeat center / 22px auto;
            border-radius: 50%;
            @extend .lightTransparentBackground;
        }
        > .containersWrapper{
            width: 100%;
            max-width: 940px;
            height: fit-content;
            max-height: 100%;
            padding: 40px;
            overflow: auto;
            position: absolute;
            left: 49%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;
            > .container{
                width: 50%;
                max-width: 360px;
                > .title{
                    display: block;
                    font-size: 2.8rem;
                    color: #222;
                }
                > .section{
                    margin-top: 25px;
                    margin-bottom: 4px;
                    > .name{
                        display: block;
                        font-size: 1.4rem;
                        color: #aaa;
                    }
                }
            }
            > .settings{
                > #prices{
                    flex: 1;
                }
            }
            > .about{
                *{
                    font-size: 1.6rem;
                    font-weight: normal;
                    user-select: text;
                    cursor: text;
                }
                .link{
                    font-style: italic;
                    color: #027;
                }
                .link:hover, .link:focus{
                    text-decoration: underline;
                    cursor: pointer;
                }
                .email{
                    margin-top: 10px;
                }
            }
        }
    }
}

//show:
.Settings.visible{
    visibility: visible;
    opacity: 1;
    > .window{
        bottom: 0;
    }
}

//responsive design:
@media only screen and (max-width: 1200px){
    .Settings{
        > .window{
            > .containersWrapper{
                left: 50%;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .Settings{
        > .window{
            height: 80%;
            max-height: 630px;
            > .closeButton{
                top: 19px;
                right: 19px;
                z-index: 10;
            }
            > .containersWrapper{
                height: 100%;
                max-height: unset;
                padding: 0 25px 40px 25px;
                left: 0;
                top: 25px;
                transform: translate(0, 0);
                flex-direction: column;
                justify-content: start;
                gap: 25px;
                > .container{
                    width: 100%;
                    max-width: unset;
                }
            }
        }
    }
}

//dark mode:
.darkMode{
    .Settings{
        > .window{
            background-color: #012;
            > .closeButton{
                background-color: #012;
                background-image: url(/src/icons/down_fff.svg);
            }
            > .containersWrapper{
                color: #ddd;
                > .container{
                    > .title{
                        color: #cfcfcf;
                    }
                }
                > .settings{
                    > .section{
                        > .name{
                            color: #888;
                        }
                    }
                }
                > .about{
                    > .sectionTitle{
                        color: #888;
                    }
                    .link{
                        color: #5ad;
                    }
                }
            }
        }
    }
}