/*
    Background:
*/
.lightTransparentBackground, .Settings > .window > .closeButton {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.lightTransparentBackground:enabled:active, .Settings > .window > .closeButton:enabled:active {
  background-color: rgba(0, 0, 0, 0.035) !important;
}

@media (hover: hover) and (pointer: fine) {
  .lightTransparentBackground:enabled:hover, .Settings > .window > .closeButton:enabled:hover {
    background-color: rgba(0, 0, 0, 0.035) !important;
  }
  .lightTransparentBackground:enabled:focus, .Settings > .window > .closeButton:enabled:focus {
    background-color: rgba(0, 0, 0, 0.045) !important;
  }
  .lightTransparentBackground:enabled:active, .Settings > .window > .closeButton:enabled:active {
    background-color: rgba(0, 0, 0, 0.055) !important;
  }
}

.lightTransparentBackground:disabled, .Settings > .window > .closeButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkTransparentBackground {
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.darkTransparentBackground:enabled:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

@media (hover: hover) and (pointer: fine) {
  .darkTransparentBackground:enabled:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }
  .darkTransparentBackground:enabled:focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  .darkTransparentBackground:enabled:active {
    background-color: rgba(255, 255, 255, 0.25) !important;
  }
}

.darkTransparentBackground:disabled {
  opacity: 0.5;
  cursor: default;
}

/*
    custom scrollbar
*/
.thinScrollbar_light::-webkit-scrollbar, .thinScrollbar_dark::-webkit-scrollbar, .darkMode.notTouchScreen::-webkit-scrollbar, .darkMode.notTouchScreen ::-webkit-scrollbar, .notTouchScreen::-webkit-scrollbar, .notTouchScreen ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.thinScrollbar_light::-webkit-scrollbar-track, .thinScrollbar_dark::-webkit-scrollbar-track, .darkMode.notTouchScreen::-webkit-scrollbar-track, .darkMode.notTouchScreen ::-webkit-scrollbar-track, .notTouchScreen::-webkit-scrollbar-track, .notTouchScreen ::-webkit-scrollbar-track {
  background: transparent;
}

.thinScrollbar_light::-webkit-scrollbar-thumb, .thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb, .notTouchScreen::-webkit-scrollbar-thumb, .notTouchScreen ::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 20px;
}

.thinScrollbar_dark::-webkit-scrollbar-thumb, .darkMode.notTouchScreen::-webkit-scrollbar-thumb, .darkMode.notTouchScreen ::-webkit-scrollbar-thumb {
  background: #888;
}

.ultraThinScrollbar_light::-webkit-scrollbar, .ultraThinScrollbar_dark::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.ultraThinScrollbar_light::-webkit-scrollbar-track, .ultraThinScrollbar_dark::-webkit-scrollbar-track {
  background: transparent;
}

.ultraThinScrollbar_light::-webkit-scrollbar-thumb, .ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.ultraThinScrollbar_dark::-webkit-scrollbar-thumb {
  background: #8a8a8a;
}

.Settings {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s ease, opacity 0.2s ease;
  transition: visibility 0.2s ease, opacity 0.2s ease;
  z-index: 10;
}

.Settings > .window {
  width: 100%;
  max-width: 1400px;
  height: 450px;
  position: absolute;
  left: 50%;
  bottom: -100%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  background-color: white;
  -webkit-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}

.Settings > .window > .closeButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: white url(/src/icons/down_111.svg) no-repeat center/22px auto;
  border-radius: 50%;
}

.Settings > .window > .containersWrapper {
  width: 100%;
  max-width: 940px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100%;
  padding: 40px;
  overflow: auto;
  position: absolute;
  left: 49%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.Settings > .window > .containersWrapper > .container {
  width: 50%;
  max-width: 360px;
}

.Settings > .window > .containersWrapper > .container > .title {
  display: block;
  font-size: 2.8rem;
  color: #222;
}

.Settings > .window > .containersWrapper > .container > .section {
  margin-top: 25px;
  margin-bottom: 4px;
}

.Settings > .window > .containersWrapper > .container > .section > .name {
  display: block;
  font-size: 1.4rem;
  color: #aaa;
}

.Settings > .window > .containersWrapper > .settings > #prices {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Settings > .window > .containersWrapper > .about * {
  font-size: 1.6rem;
  font-weight: normal;
}

.Settings > .window > .containersWrapper > .about .link,
.Settings > .window > .containersWrapper > .about .email {
  font-style: italic;
  color: #027;
}

.Settings > .window > .containersWrapper > .about .link:hover, .Settings > .window > .containersWrapper > .about .link:focus {
  text-decoration: underline;
  cursor: pointer;
}

.Settings > .window > .containersWrapper > .about .email {
  margin-top: 10px;
  cursor: pointer;
}

.Settings.visible {
  visibility: visible;
  opacity: 1;
}

.Settings.visible > .window {
  bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .Settings > .window > .containersWrapper {
    left: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .Settings > .window {
    height: 80%;
    max-height: 630px;
  }
  .Settings > .window > .closeButton {
    top: 19px;
    right: 19px;
    z-index: 1;
  }
  .Settings > .window > .containersWrapper {
    height: 100%;
    max-height: unset;
    padding: 0 25px 40px 25px;
    left: 0;
    top: 25px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 25px;
  }
  .Settings > .window > .containersWrapper > .container {
    width: 100%;
    max-width: unset;
  }
}

.darkMode .Settings > .window {
  background-color: #012;
}

.darkMode .Settings > .window > .closeButton {
  background-color: #012;
  background-image: url(/src/icons/down_fff.svg);
}

.darkMode .Settings > .window > .containersWrapper {
  color: #ddd;
}

.darkMode .Settings > .window > .containersWrapper > .container > .title {
  color: #cfcfcf;
}

.darkMode .Settings > .window > .containersWrapper > .container > .section > .name {
  color: #888;
}

.darkMode .Settings > .window > .containersWrapper > .about .link,
.darkMode .Settings > .window > .containersWrapper > .about .email {
  color: #5ad;
}
/*# sourceMappingURL=Settings.css.map */